<div class="row mt-3">
  <div class="col-s12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Chorrillos</h5>
        <p class="card-text">
          El distrito de Chorrillos es uno de los 43 que conforman la provincia de Lima, 
          ubicada en el departamento homónimo en el Perú. Limita al Norte con los distritos 
          de Barranco y Santiago de Surco; al Este con los distritos de San Juan de Miraflores 
          y Villa El Salvador; y al Oeste y Sur con el Océano Pacífico.
        </p>
      </div>
    </div>
  </div>
</div>